p {
  margin-bottom: unset;
}

.chip {
  top: 130px;
  left: 25px;
  position: absolute;
  width: 80px;
}

.chip img {
  width: 100%;
}

.card-container {
  /*Ratio is 8/5*/
  width: 480px;
  height: 300px;
  border: 1px solid lightgray;
  border-radius: 15px;
  position: relative;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-content {
  padding: 5px 15px;
  font-size: 10px;
  margin-top: 10px;
}

.card-header {
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  background-color: unset !important;
}

.chip-spacing {
  margin-left: 130px;
}

.text-spacing {
  margin-left: 10px;
}

.card-row-2 {
  display: flex;
  line-height: 15px;
  margin-top: 5px;
}

.card-row-2 div:last-of-type {
  text-align: right;
  margin-left: 30px;
}

.card-row {
  margin-top: 5px;
  display: flex;
  line-height: 15px;
}

.bold {
  font-weight: bold;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  height: 30px;
}

.image {
  position: absolute;
  right: 5px;
  bottom: 0;
  margin-bottom: 5px;
  width: 100px;
  border-radius: 10px;
}
